@use '../abstracts/'as *;

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &--small-screen {
        display: block;

        @include mq (medium) {
            display: none;
        }
    }

    &__number {
        font-size: .75rem;
        background-color: var(--clr-red-400);
        color: var(--clr-neutral-50);
        padding: .125rem .5rem;
        border-radius: 10px;
        position: absolute;
        top: -.5rem;
        right: -.5rem;
    }

}