@use '../abstracts/'as *;

.category {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;

    &__img {
        width: 100%;
        height: auto;
    }



    &__overlay {
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        inset: 0;
    }

    &__description {
        position: absolute;
        bottom: .5rem;
        left: .5rem;
        color: var(--clr-neutral-50);
    }

    @include mq(small) {
        &--large &__img {
            height: 100%;
            width: auto;
        }
    }
}