.icon {
    background-color: transparent;

    &--small {
        font-size: var(--300);
    }

    &--large {
        font-size: var(--400);
    }

    &:hover {
        color: var(--clr-neutral-900);
    }

    &--yellow {
        color: var(--clr-yellow-500);
    }
}