@use '../../styles/abstracts/'as *;

.header {

    box-shadow: var(--shadow-lg);

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--clr-white-0);

    &__left {
        order: 1;
    }

    &--right {
        display: flex;
        position: absolute;
        right: .5rem;
        top: .5rem;
        gap: 1rem;
    }

    &__navigation {
        display: none;

    }
}

@include mq(medium) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        &--middle {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;
        }

        &--right {
            position: relative;
        }

        &__navigation {
            display: flex;
            justify-content: space-around;
            gap: 1rem;
        }
    }
}


.header--mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    transition: 500ms ease-in-out;

    &__icon {
        position: fixed;
        top: 2rem;
        right: 2rem;
        z-index: 201;
        cursor: pointer;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        background-color: var(--clr-neutral-800);
        opacity: .5;
        cursor: pointer;
        width: 20%;
    }

    &__nav {
        background-color: var(--clr-white-0);
        box-shadow: var(--shadow);
        width: 80%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding-top: 5rem;
        padding-left: 2rem;

        >li {
            list-style-type: none;
        }
    }

    &__link {
        display: inline-block;
        margin-bottom: 2rem;
    }

    @include mq(medium) {
        display: none;
    }

    &.hide {
        display: none;
    }
}